<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A New Course</title>
  </head>
  <body>
    <h1>Add A New Course</h1>
    <form class="form-group" action="/courses/new" method="post">
      <label for="course-name">Course Name</label>
      <input type="text" name="course-name" required>
      <select name="department">
        @foreach(var department in Model)
        {
          @if(department.GetName() == "Music")
          {
            <option value="@department.GetId()" selected="selected">@department.GetName()</option>
          }
          else{
            <option value="@department.GetId()">@department.GetName()</option>
          }
        }
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
