<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>

    <a href="/departments">Back to Departments</a>
    <a href="/">Home</a>
  </body>
</html>
