<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add A New Department</title>
  </head>
  <body>
    <form class="form-group" action="/departments/new" method="post">
      <label for="department-name">Department Name</label>
      <input type="text" name="department-name" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
